<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-danger': postLoveIts < 0}">
    <div class="container">
    <div class="row">
        <div class="col-xs-12" [ngStyle]="{color: getColor()}" >
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xs-7">
                        <h3>{{postTitle}}</h3>
                    </div>
                    <div class="col-xs-5">
                        <p class="display-5"><em>{{postCreateAt | date: 'short' }}</em></p>
                    </div>
                </div>
            </div>
            <p>{{postContent}}</p>
            <button class="btn btn-success" (click)="onClickOnBtnLoveIt()">Love it</button>&nbsp;
            <button class="btn btn-danger" (click)="onClickOnBtnDontLoveIt()">Don't love it</button>
        </div>
    </div>
    </div>
</li>